/* TEXT/HEADERS START*/
h1 { 
	font-family: 'Libre Franklin', sans-serif,;
	font-size: 70px;
	font-weight: 100;
	color: white;
	padding-top: 30vh;
	text-align: center;
	letter-spacing: 5px;
	font-style: italic;

}

h2, h3, {
	font-family: 'Cardo', serif;
	font-weight: 400;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 12px;
	line-height: 120%;
	letter-spacing: .75px;
}

h4, p {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300px;
}

h4 {
	font-size: 16px;
	line-height: 220%;
	font-weight: 100;
}

h5 {
		font-size: 16px;
	line-height: 220%;
	font-weight: 400;
}

h6{
	font-size: 16px;
	line-height: 220%;
	font-weight: 100;
	opacity: 50%;
}

p {
	font-size: 16px;
	line-height: 135%;
	text-indent: 2em;
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: .75px;
}
/* TEXT/HEADERS END*/


/*INDEX DESKTOP HEADER START*/
.index {
	background-image: url(../images/blur-restaurant-background.jpeg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

 .logo { width: 60%;
margin-top: 40vh;
margin-bottom: 60vh;
margin-right: 20%;
margin-left: 20%;
}
/*INDEX DESKTOP HEADER END*/

/*INDEX MAIN DESKTOP START*/
.slogan {
	text-align: center;
	margin-top: 10vh;
	font-size: 20px;
	font-style: italic;
	letter-spacing: 1px;
	font-weight: 500px;
}


.bar-rione-glass {
	display: grid;
	grid-template-columns: 1fr 1fr;
	columns: 2;
	column-gap: 8%;
	width: 70%;
	margin: auto;
	margin-right: 15%;
	margin-top: 100px;
	position: relative;
}

.thing {
	text-align: left;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 40px;
	letter-spacing: 1.5px;
}

.about-thing {
	font-size: 22px;
	font-style: italic;
	font-weight: 100;
	width: 100%;
	margin-bottom: 30px;
	line-height: 120%;
	letter-spacing: 1px;
}

.button2 {
	font-family: 'Libre Franklin', sans-serif;
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(247, 146, 29);
  cursor: pointer;
  overflow: hidden;
}
.button2 svg {
  position: absolute;
  top: 0; left: 0;
}
.button2 svg rect {
  fill: none;
  stroke: rgb(247, 146, 29);
  stroke-width: 3px;
  stroke-dasharray: 422, 0;
  transition: 1s;
  
  @include transition(all 1300ms $ease-out-expo);
}
.button2:hover svg rect {
  stroke-width: 3px;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.button2:hover {
  color:rgb(247, 146, 29);
  font-size:14px;
  letter-spacing:1px;
  font-weight:bold;
}

.green-pasta {
	display: grid;
	grid-template-columns: 1fr 1fr;
	columns: 2;
	column-gap: 8%;
	width: 70%;
	margin: auto;
	margin-right: 15%;
	margin-top: 100px;
	position: relative;
}

.about-us-index{
	display: grid;
	grid-template-columns: 1fr 1fr;
	columns: 2;
	column-gap: 8%;
	width: 70%;
	margin: auto;
	margin-right: 15%;
	margin-top: 100px;
	position: relative;
}

.about {
	padding-top: 25%;
	padding-bottom: 25%;
}
/*MAIN DESKTOP END*/

/*DESKTOP NAV BAR START*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
padding-top: 10px;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700px;
	-webkit-box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
}

.nav-links {
	display: flex;
	justify-content: space-around;
		width: 80%;
		margin-top: 40px;
}

.navlogo {
	max-height: 85px;
	width: auto;
	margin-top: -35px;
	margin-left: -40px;
}

a {
	color: rgb(226, 226, 226);
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.75px;
}

nav li a:hover {
	 opacity: 0.6;
}

.sticky {
  position: absolute;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



/*RESERVATION BUTTON START*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Libre Franklin', sans-serif;
  display: table;
  width: 100%;
  background: #f54785;
}

.container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: -40px;
  margin-left: -10px
}

button{
  display: inline-block;
  position: relative;
  background: none;
  color: white;
  border: 3px solid rgb(247, 146, 29);
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0px;
  background: rgba(0,0,0,0);
}

button:hover {
	border: 3px solid none;
}

span{
  display: block;
  padding: 20px 50px;
  background-color: none;
	color: rgb(247, 146, 29);
}

span:hover {
	background-color:  rgb(247, 146, 29);
	color: white;
	transition: all 0.4s linear;
}

button::before.btn-1, button::after.btn-1{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(247, 146, 29);
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(247, 146, 29);
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}
/*RESERVATION BUTTON END*/

/*DOWN ARROW START*/
div .arrow-down {
	margin-right: -50%;
}

.arrow-down {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
} 


.arrow-down::after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 49%;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 1s arrow infinite ease;
	animation: 1s arrow infinite ease;
}

@-webkit-keyframes arrow {
	0%, 100% {
		top: 50px;
	} 
	50% {
		top: 80px;
	}
}
@keyframes arrow {
	0%, 100% {
		top: 50px;
	} 
	50% {
		top: 80px;
	}
}
/*DOWN ARROW END*/


/*ABOUT PAGE START*/

.sign-off {
	font-weight: 100;
	font-style: italic;
	font-size: 20px;
	opacity: .6;
	margin-left: -2em;
	margin-bottom: 20px;
	margin-top: 70px;
}

.contacticons {
margin-top: -30px;
margin-bottom: 18px;
width: 50%;
height: auto;
margin-left: 80px; 
}

.footerwords{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	margin-left: 5%;
	margin-top: 70px;
}

.contact-info-footer{
margin-bottom: 36px;
}

.contactinfo {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 20% 80%;
	text-align: left;
	width: 100%;
	margin-right: 20px;
	margin-left: 30%;
	justify-content: flex;
}

.hours {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
	text-align: left;
	margin-bottom: 50px;
	width: 100%;
	margin-right: 0;
}

.about-content{
	width: 50%;
	margin-top: 80px;
	margin-right: 25%;
	margin-left: 25%;
}

.about-us {
	margin-top: 115px;
	background-image: url(../images/line-cooks.jpg);
	width: 100%;
	background-size: cover;
	height: 65vh;
}

/*GOOGLE MAP START*/
.googlemap {
margin-left: 18%; 
margin-right: 0%;
margin-bottom: 50px;
margin-top: 30px;
}
/*GOOGLE MAP END*/

/*ABOUT PAGE END*/

/*MENU PAGE START*/

.menu-title{
	margin-top: -200px;
	color: black;
	margin-bottom: 90px;
}

.menu-minislide {
	margin-top: 117px;
	width:100%; 
	height:65vh; 
	overflow:hidden; 
	position:relative; 
}

.menu-minislide img{
 position:absolute; 
 animation:fling-minislide 16s 
 infinite; opacity:0; 
 width: 100%; 
 height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.menu-minislide img:nth-child(4){animation-delay:0s;}
.menu-minislide img:nth-child(3){animation-delay:4s;}
.menu-minislide img:nth-child(2){animation-delay:8s;}
.menu-minislide img:nth-child(1){animation-delay:12s;}

.dinner-menu{
	width: 80%;
	margin: auto;
}
.menu-items{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 45px;
	align-content: center;
	margin-left: 12%;
}
.prosciutto {
	grid-column-start: 2;
	margin-top: -30px;
}

.menu-section{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 28px;
}

.lacarne{
	width: 100%;
	margin-left: 50%;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 28px;
}

.white-space{
	display: block;
}

.carne{
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 45%;
	grid-gap: 45px;
}

.name-of-dish{
	font-weight: 500;
	font-size: 18px;
	letter-spacing: 1.1px;
	line-height: 135%;

}

.description-of-food {
	line-height: 150%;
}

.price{
	margin-bottom: 0px; 
}

/*MENU PAGE END*/

/*RESERVATION PAGE STARTS*/

.reservation-page{
	background-color: black;
}

.form-prompt {
	margin-top: 40px;
	text-align: center;
	color: rgb(247, 146, 29);
	font-weight: 200;
}

/*Reservation Form start*/

form {
	font-family: font-family: 'Libre Franklin', sans-serif;
	font-weight: 700px;
	color: white;
	font-style: uppercase;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px; 
  margin-bottom: 30px;
  resize: vertical;
  background-color: #282828;
color: white;
}

input[type=date] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=email] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=tel] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=guests] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

input[type=time] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

input[type=submit]:hover {
  background-color: none
  ;
}

.reservation-form-container {
	width: 60%;
	margin: auto;
	margin-top: 8vh;
  border-radius: 20px;
  background-color: black;
  padding: 40px 50px;
}

.names {
	columns: 2;
column-gap: 30px;
}


.when {
	columns: 2;
	column-gap: 30px;
}

.contact {
	columns: 2;
	column-gap: 30px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Reservation Form end*/

/*SUBMIT BUTTON START*/

.reservationss-title{
margin-top: -200px;
	color: black;
	margin-bottom: 30px;
}

.button3 {
	font-family: 'Libre Franklin', sans-serif;
  display: block;
  width: 166px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(247, 146, 29);
  cursor: pointer;
  overflow: hidden;
}
.button3 svg {
  position: absolute;
  top: 0; left: 0;
}
.button3 svg rect {
  fill: none;
  stroke: rgb(247, 146, 29);
  stroke-width: 3px;
  stroke-dasharray: 422, 0;
  transition: 1s;
  
  @include transition(all 1300ms $ease-out-expo);
}
.button3:hover svg rect {
  stroke-width: 3px;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.button3:hover {
  color:rgb(247, 146, 29);
  font-size:14px;
  letter-spacing:1px;
  font-weight:bold;
}

/*SUBMIT BUTTON END*/

/*RESERVATION PAGE END*/

/*DESKTOP FOOTER START*/

footer 
{background: black;
color: white;
width: 110%;
text-align: center;
position: absolute;
padding: 20px;
margin-top: 120px;
margin-bottom: -10%;
margin-left: -5%;
margin-right: -5%;}

.smicons {
	width: 50%;
	height: auto;
}

.socialmediaicons
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	width: 30%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 
	margin-top: -100px;

}

.copyright {
	text-align: center;
	padding: 30px 0px 0px 20px;
	margin: auto;
}

/*DESKTOP FOOTER END*/

/*DONT DISPLAY stART*/

/*DONT DISPLAY end*/

@media only screen and (min-width: 1px) {
	body { background-color: #F6F6F6;}

/*I put this in because without it my backgrond would default to pink idk why*/




@media only screen and (max-width: 1080px) {
	body { background-color: #F6F6F6;}

/*MEdium FOOTER start*/
footer 
{background: black;
color: white;
width: 110%;
text-align: center;
position: absolute;
padding: 10px;
margin-top: 50px;
margin-bottom: -10%;
margin-left: -5%;
margin-right: -5%;}

.smicons {
	width: 45%;
	height: auto;
}

.socialmediaicons
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	width: 50%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 
	margin-top: -100px;

}

.copyright {
	text-align: center;
	padding: 20px 0px 0px 20px;
	margin: auto;
	font-size: 14px;
	padding-bottom: 7px;
}

	/*MEdium FOOTER end*/
}

/*MOBILE MEDIA START*/

@media only screen and (max-width: 768px) {
	body { background-color: #F6F6F6;}


/*MOBILE FOOTER Start*/
footer 
{background: black;
color: white;
width: 110%;
text-align: center;
position: absolute;
padding: 10px;
margin-top: 50px;
margin-bottom: -10%;
margin-left: -5%;
margin-right: -5%;}

.smicons {
	width: 40%;
	height: auto;
}

.socialmediaicons
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	width: 70%;
	margin: auto;
	padding-top: 4%;
	padding-bottom: 
	margin-top: -100px;

}

.copyright {
	text-align: center;
	padding: 30px 0px 0px 20px;
	margin: auto;
	font-size: 14px;
	padding-bottom: 10px;
}
/*MOBILE FOOTER end*/

}



/*MOBILE MEDIA END*/