/* TEXT/HEADERS */

h1 { 
	font-family: 'Cardo', serif;
	font-size: 30px;
	font-weight: 700px;
	 }

h2, h3, {
	font-family: 'Cardo', serif;
	font-weight: 400;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 12px;
	line-height: 120%;
	letter-spacing: .75px;
}

h4, p {
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300px;
}

h4 {
	font-size: 14px;
}

p {
	font-size: 12px;
}




/*INDEX DESKTOP HEADER START*/

.index {
	background-image: url(../images/blur-restaurant-background.jpeg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

 .logo { width: 60%;
margin-top: 40vh;
margin-bottom: 60vh;
margin-right: 20%;
margin-left: 20%;}


/*INDEX DESKTOP HEADER END*/


/*SUBPAGE HEADER START*/

.form-prompt {
	margin-top: 25vh;
	text-align: center;
}

/*SUBPAGE HEADER START*/


/*DESKTOP NAV BAR START*/

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

nav {
padding-top: 10px;
	width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: black;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 700px;
	-webkit-box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
box-shadow: 0px 10px 42px -8px rgba(0,0,0,0.44);
}

.nav-links {
	display: flex;
	justify-content: space-around;
		width: 90%;
		margin-top: 40px;
}

.navlogo {
	max-height: 85px;
	width: auto;
	margin-top: -35px;
	margin-left: -40px;
}

a {
	color: rgb(226, 226, 226);
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.75px;
}

nav li a:hover {
	 opacity: 0.6;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 60px;
}



/*RESERVATION BUTTON START*/


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Libre Franklin', sans-serif;
  display: table;
  width: 100%;
  background: #f54785;
}
.container{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  margin-top: -40px;


}
button{
  display: inline-block;
  position: relative;
  background: none;
  color: white;
  border: 3px solid rgb(247, 146, 29);
  font-size: 18px;
  cursor: pointer;
  margin: 20px 0px;
  background: rgba(0,0,0,0);

}

button:hover {
	border: 3px solid black;
}

span{
  display: block;
  padding: 20px 50px;
  background-color: black;
	color: white;
	

}

span:hover {
	background-color:  rgb(247, 146, 29);
	color: white;
	transition: all 0.4s linear;

}

button::before.btn-1, button::after.btn-1{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(247, 146, 29);
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: rgb(247, 146, 29);
}
button:hover::before, button:hover::after{
  width: 100%;
}
button:hover span::before, button:hover span::after{
  height: 100%;
}

.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 span::before, .btn-1 span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 span::before{
  left: 0;
  top: 0;
}
.btn-1 span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover span::before, .btn-1:hover span::after{
  transition-delay: 0.2s;
}

/*RESERVATION BUTTON END*/

/*DOWN ARROW START*/

div .arrow-down {
	margin-right: -50%;

}

.arrow-down {
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 200px;
	left: 0;
	right: 0;
} 


.arrow-down::after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #fff;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: 1s arrow infinite ease;
	animation: 1s arrow infinite ease;

}

@-webkit-keyframes arrow {
	0%, 100% {
		top: 50px;
	} 
	50% {
		top: 80px;
	}
}
@keyframes arrow {
	0%, 100% {
		top: 50px;
	} 
	50% {
		top: 80px;
	}
}

/*DOWN ARROW END*/

/*Reservation Form start*/

form {
	font-family: font-family: 'Libre Franklin', sans-serif;
	font-weight: 700px;
	color: white;
	font-style: uppercase;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 10px; 
  margin-bottom: 30px;
  resize: vertical;
  background-color: #282828;
color: white;
}

input[type=date] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=email] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=tel] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

 input[type=guests] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

input[type=time] {
width: 100%; 
  padding: 12px; 
  border: none; 
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 10px; 
  margin-bottom: 30px;
background-color: #282828;
color: white;}

input[type=submit] {
  background-color: none;
  color: white;
  padding: 30px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: none
  ;
}


.reservation-form-container {
	width: 50%;
	margin: auto;
	margin-top: 8vh;
  border-radius: 20px;
  background-color: #121212;
  padding: 40px 50px;

}

.names {
	columns: 2;
column-gap: 30px;
}


.when {
	columns: 2;
	column-gap: 30px;
}

.contact {
	columns: 2;
	column-gap: 30px;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*Reservation Form end*/


.button {
	position: relative;
	height: 60px;
	width: 200px;
	background: #00BCD4;
	border-radius: 8px;
	text-align: center;
	margin: 200px auto 0 auto;
	cursor: pointer;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.submit,
.arrow {
	display: inline-block;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.submit {
	text-transform: uppercase;
	margin: 14px 0 0 26px;
}

.arrow {
	position: relative;
	top: -3px;
	opacity: 0;
}

.line {
	height: 3px;
	width: 20px;
	border-radius: 6px;
	background: #fff;
}

.top {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bottom {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 10px;
}

.instructions {
	text-align: center;
	margin: 20px auto;
}

.button:active {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
}

.button.hover .submit {
	-webkit-transform: translateX(-90px);
	-moz-transform: translateX(-90px);
	transform: translateX(-90px);
	opacity: 0;	
}

.button.hover .arrow {
	-webkit-transform: translateX(-70px);
	-moz-transform: translateX(-70px);
	transform: translateX(-70px);
	opacity: 1;
}

.button.active .arrow {
	opacity: 1;
	-webkit-transform: rotate(90deg) translateY(70px);
	-moz-transform: rotate(90deg) translateY(70px);
	transform: rotate(90deg) translateY(70px);
}

.button.active {
	background: #4CAF50;
}

.button.active .submit {
	opacity: 0;
}

.button.active .top {
	width: 34px;
}

.button.active .bottom {
	margin: 14px 0 0 12px;
}

/*DESKTOP FOOTER START*/

footer 
{background: black;
color: white;
width: 100%;
text-align: center;

padding: 20px;
margin-top: 400px;}

.smicons {
	width: 70%;
	height: auto;
}


.socialmediaicons
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	margin: auto;
	padding: 150px;
	margin-top: -100px;


}

footer .contactinfo
{display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 12px;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;}
/*DESKTOP FOOTER END*/




@media only screen and (min-width: 768px) {
	body { background-color: white;}
	.grid {
	
	grid-template-columns:1fr 1fr;
	width: 100%;
	}


	}


@media only screen and (min-width: 1024px) {
	body { background-color: white;}
	.grid {
	
	grid-template-columns:1fr 1fr 1fr;
	width: 70%;
	}

	}


/*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/